.nav-option {
  font-family: 'Baloo Tammudu 2', cursive;
  color: #000000;
}

.navigation-container {
  display: flex;
  width: 50%; 
  height: 8vh;
  margin: 2% auto;
  justify-content: space-around;
  border: 1px solid lightgrey;
  border-radius: 15px;
}

.navigation-container a {
  text-decoration: none;
}

.navigation-container a :hover { 
  color: lightseagreen;
}